<h1>RunTracker</h1><br>

<h3>Welcome! Please select an option below.</h3><br>

<div>
<form action='/login'>
<input style='margin-right: 15px' type='submit' value='Login'
</form>

<form action='/signup'>
<input style='margin-right: 15px' type='submit' value='Sign Up'
</form>
</div>