<h1>Log a New Run:</h1><br>

<a href='/runs'>Go Back to Runs</a>

<br><br>

<form action='/runs' method='post'>
    Date: <input type='text' name='date' value='00/00/00'><br><br>
    Distance: <input type='text' name='distance' value='0.0'> miles<br><br>
    Duration: <input type='text' name='hours' value='0'> hours <input type='text' name='minutes' value='0'> minutes <input type='text' name='seconds' value='0'> seconds<br><br>
    <input type='submit' value='Submit'>
</form>