<h1>Log a New Run:</h1>

<form action='/new' method='post'>
    Distance: <input type='text' name='distance'></br>
    Duration: <input type='text' name='hours'> hours <input type='text' name='minutes'> minutes <input type='text' name='seconds'> seconds</br>
    <input type='submit' value='Submit'>
</form>