<h1>RunTracker</h1><br>

<h3 style='float:right'>Current User: <%= @current_user.username %></h3>

<br><br>

<a id='submit' style='float:right' href='/my_runs'>My Runs</a>



<h2>All Users' Runs</h2>



<% @runs.each do |run| %>

    <li><b>Date:</b> <%= run.date %></li>
    <li><b>Distance:</b> <%= run.distance %> miles</li>

    <br>
        
    <a id ='submit' href="/runs/<%= run.id %>">See Run</a>

    <br><br><br>

<% end %>

<br><br>

<a id='new-run' href='/runs/new'>Log a New Run</a>

<a id='logout' href="/logout">Log Out</a>