<h1>Current User: <%= @current_user.username %>'s Runs</h1><br>

<a id='submit' href='/runs'>See All Users' Runs</a>

<br><br><br>

<% @runs.each do |run| %>

    <li><b>Date:</b> <%= run.date %></li>
    <li><b>Distance:</b> <%= run.distance %> miles</li>

    <br>
        
    <a id='submit' href="/runs/<%= run.id %>">See Run Details</a>

    <br><br><br>

<% end %> 

<br><br>

<a id='new-run' href='/runs/new'>Log a New Run</a>



<a id='logout' href="/logout">Log Out</a>