<h1>Log a New Run:</h1><br>

<a id='submit' href='/runs'>Go Back to Runs</a>

<br><br><br>

<form action='/runs' method='post'>
    <b>Date:</b> <input type='text' name='date' value='00/00/00'><br><br>
    <b>Distance:</b> <input type='text' name='distance' value='0.0'> miles<br><br>
    <b>Duration:</b> <input type='text' name='hours' value='0'> hours <input type='text' name='minutes' value='0'> minutes <input type='text' name='seconds' value='0'> seconds<br><br>
    <input type='submit' value='Submit' id='submit'>
</form>